html, body, header, nav, h1, a,
ul, li, main, button, i,
section, div, textarea,
span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: Arial;
  color: #2b3238;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
}

body {
  background-color: #f4f6f7;
}
ul {
  list-style: none;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

textarea,
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
  background-color: white;
}

.tasks-list-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 500px;
  align-items: center;
  margin: 20px 0;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.task {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 500px;
  border: 1px solid lightgrey;
  padding: 10px 12px 80px 12px;
  margin-bottom: 10px;
  background-color: white;
  color: grey;
}

.new-task {
  border: 1px solid lightgrey;
  border-radius: 4px;
  font-size: 14px;
  width: 250px;
  padding: 8px 12px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 130px;
}

.task-button {
  border-radius: 4px;
  padding: 8px 12px;
  background-color: #8694a1;
  color: white;
  font-size: 12px;
}

.save-button {
  background-color: #5de680;
}

.save-button:disabled {
  background-color: #8694a1;
  cursor: auto;
}

.delete-button {
  font-size: 14px;
  color: grey;
}

.alert {
  padding: 6px 10px 2px 10px;
  border: 1px solid #5de680;
  background-color: lightcyan;
  color: #5de680;
  width: 320px;
  border-radius: 4px;
  font-size: 14px;
  position: absolute;
  right: 20px;
  top: 220px;
}

.alert.failure {
  border: 1px solid #ef2535;
  background-color: pink;
  color: #ef2535;
}


.closebtn {
  color: #8694a1;
  float: right;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.left-content {
  display: flex;
  align-items: center;
}

.fa-bars {
  padding-right: 6px;
  font-size: 11px;
  color: grey;
}

.errors li {
  margin-top: 10px;
  font-size: 12px;
  color: #ef2535;
}

.banner {
  width: 100%;
  background-color: #2b3238;
  height: 42px;
}

.new-task-form {
  display: flex;
  justify-content: space-between;
  min-width: 360px;
}
